[submodule "projects/Personal"]
	path = projects/Personal
	url = https://github.com/Johan-Ravn/Personal.git
[submodule "projects/TTT-app"]
	path = projects/TTT-app
	url = https://github.com/Johan-Ravn/TTT-app.git
[submodule "BMI-tracker"]
	path = BMI-tracker
	url = https://github.com/Johan-Ravn/BMI-tracker.git
[submodule "cmd-line-hash"]
	path = cmd-line-hash
	url = https://github.com/Johan-Ravn/cmd-line-hash.git
[submodule "user-db"]
	path = user-db
	url = https://github.com/Johan-Ravn/user-db.git
